@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$accent: #b53471;
$white: #ffffff;
$black: #000000;
$gray: #333333;


$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Noto Sans', sans-serif;

$mobile: 480px;
